* {
  box-sizing: border-box;
}

html, body, #app, #__nuxt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container,
.container .columns {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  flex: 1;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 16px;
}

a {
  color: #1DA1F2;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html body .button.is-primary {
  background: #1da1f2;
}

html body .button.is-primary:hover {
  background: #0980CF;
}

.button.is-primary[disabled] {
  background: #1da1f2;
  opacity: 0.6;
}
