* {
  box-sizing: border-box;
}

html, body, #app, #__nuxt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #15202B;
}

#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}

.container,
.container .columns {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
